[profile sso_login]
sso_start_url = https://n7k-9267642663.awsapps.com/start
sso_region = us-west-2

[profile BedrockAccess_sso]
sso_start_url = https://n7k-9267642663.awsapps.com/start
sso_region = us-west-2
sso_account_id = 891116894530
sso_role_name = BedrockAccess
region = us-west-2

[profile BedrockAccess]
credential_process = bash -c 'aws configure export-credentials --profile BedrockAccess_sso 2>/dev/null || (aws sso login --profile sso_login >/dev/null 2>&1 && aws configure export-credentials --profile BedrockAccess_sso)'
region = us-west-2
